
.col-no-padding {
    padding: 0;
}

.jumbotron {
    background:
        url('../images/pattern.png') top left repeat,
        url('../images/zgrada-wide.jpg') center center no-repeat;
    background-size: auto, cover;
    height: 450px;
}

.jumbotron h1,
.jumbotron h2
{
    color: #cfa144;
    text-shadow: 0 0 15px rgba(0,0,0,0.63);
    text-transform: uppercase;
    padding-top: 30px;
    text-align: center;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.label {
    display: inline-block;
    margin-bottom: 5px;
}

.scrollToTop {
    text-align: center;
}

.galerija figure {
    display: inline-block;
    margin: 5px;
}

.galerija figure > a {
    opacity: 1;
    transition: opacity 270ms ease;
}

.galerija figure > a:hover {
    opacity: 0.72;
    transition: opacity 450ms ease;
}

.skica {
    width: 100%;
    max-width: 800px;
}

footer {
    background: #303030;
    color: #f5f5f5;
    height: 450px;
    padding: 30px;
}

footer h2 {
    text-align: center;
    border-bottom: 1px solid #f5f5f5;
    margin-top: 0;
    margin-bottom: 20px;
}

footer a,
footer a:hover
{
    color: #f5f5f5;
}

.scrollToTop {
    display: block;
    width: 90%;
    text-align: center;
    position: absolute;
    bottom:10px;
}